<!DOCTYPE html>
<html class="min-h-full">
  <head>
    <title>TaskTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gradient-to-bl from-teal-800 via-emerald-950 via-50% to-black">
    <header class="bg-gray-800 text-white w-full">
      <div class="container mx-auto flex justify-between max-w-screen-sm">
        <a class="inline-block py-5" href="/" class="font-bold text-xl">TaskTracker</a>
        <ul class="flex">
          <% if signed_in? %>
            <li class="mr-5 <%= "underline" if request.path == tasks_path %>"><%= link_to "Tasks", tasks_path, class: "inline-block py-5" %></li>
            <li>
              <span class="text-gray-400">(<%= current_employee.full_name %>)</span>
              <%=
                link_to(
                  "Sign out",
                  auth.destroy_identity_session_path,
                  data: { "turbo-method": :delete },
                  class: "inline-block py-5"
                )
              %>
            </li>
          <% else %>
            <li>
              <%=
                button_to(
                  "Sign in",
                  auth.identity_doorkeeper_omniauth_authorize_path,
                  method: :post,
                  data: { turbo: false },
                  class: "py-5"
                )
              %>
            </li>
          <% end %>
        </div>
      </div>
    </header>

    <main class="py-5 container mx-auto flex max-w-screen-sm">
      <%= yield %>
    </main>
  </body>
</html>
