<li class="flex flex-col rounded-xl bg-white mt-5 py-3 px-5 shadow-xl shadow-black">
  <div class="flex justify-between">
    <p class="flex-auto"><%= task.description %></p>
    <div class="shrink-0 ml-1">
      <span class="inline-block py-1 px-3 rounded-md border-2 <%=task.completed? ? 'border-emerald-200 bg-emerald-100' : 'border-sky-200 bg-sky-100' %> text-xs text-semibold uppercase tracking-wide"><%= task.status.humanize %></span>
    </div>
  </div>
  <div class="mt-2 pt-2 border-t-2 border-gray-100 flex justify-between items-center text-xs">
    <p class="w-1/3 py-2 text-semibold uppercase tracking-wide text-gray-500"><%= "#{task.assignee.first_name} #{task.assignee.last_name}" %></p>
    <p class="w-1/3 py-2 text-center">
      <span class="text-pink-600">-$<%= task.assignment_fee %></span>
      /
      <span class="text-emerald-600">+$<%= task.completion_reward %></span>
    </p>
    <div class="w-1/3 text-right">
      <% if task.in_progress? && task.assignee == current_employee %>
        <%= button_to "[_] Complete", task_completions_path(task), class: "px-5 py-2 ml-3 rounded-xl bg-emerald-500 text-emerald-100 font-semibold uppercase tracking-wide shadow-sm shadow-black hover:shadow-inner hover:shadow-black" %>
      <% end %>
    </div>
  </div>
</li>
