<div class="container flex flex-col items-center">
  <% flash.each do |key, value| %>
    <div class="text-center p-3 bg-red-100 w-full"><%= value %></div>
  <% end %>
  <div class="py-3 px-5 border-2 border-gray-800 mt-3">
    <h2>
      Logged in as: <b><%= current_user.email %></b> (<%= current_user.first_name %> <%= current_user.last_name %>)
    </h2>

    <%=
      link_to(
        "Sign out",
        destroy_user_session_path,
        data: { "turbo-method": :delete },
        class: "underline text-blue-800"
      )
    %>
  </div>
</div>
